Source: znc
Section: net
Priority: optional
Build-Depends: debhelper (>= 9),
 libssl-dev,
 libperl-dev,
 libicu-dev,
 pkg-config,
 tcl8.5-dev,
 libsasl2-dev,
 swig3.0,
 python3-dev,
 automake,
 autoconf 
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Patrick Matthäi <pmatthaei@debian.org>
Standards-Version: 3.9.6
Homepage: http://znc.sourceforge.net/

Package: yourbnc-znc
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 ca-certificates
Recommends: yourbnc-znc-tcl,
 yourbnc-znc-perl,
 yourbnc-znc-python,
 yourbnc-znc-config
Conflicts: yourbnc-znc-webadmin,
 yourbnc-znc-extra
Breaks: yourbnc-znc-extra (<< ${binary:Version})
Replaces: yourbnc-znc-webadmin,
 yourbnc-znc-extra
Description: advanced modular IRC bouncer
 znc is an IRC proxy. It runs as a daemon and connects to IRC server,
 then allows you to connect from a workstation and work as the user that
 is logged in to the IRC server. After you disconnect, it maintains the
 connection to the server. It acts like any normal IRC server, so you can
 use any IRC client to connect to it.
 .
 Some of its features include support for multiple users, multiple clients,
 and multiple IRC servers; playback buffers to catch up with what happened
 while you were detached, SSL encryption, DCC proxying, and a plugin
 interface with many plugins supporting other features.

Package: yourbnc-znc-dbg
Section: debug
Architecture: any
Priority: extra
Depends: ${misc:Depends},
 yourbnc-znc (= ${binary:Version}) | yourbnc-znc-perl (= ${binary:Version}) |
 yourbnc-znc-python (= ${binary:Version})
Breaks: yourbnc-znc-extra-dbg (<= 0.074)
Description: advanced modular IRC bouncer (debugging symbols)
 znc is an IRC proxy. It runs as a daemon and connects to IRC server,
 then allows you to connect from a workstation and work as the user that
 is logged in to the IRC server. After you disconnect, it maintains the
 connection to the server. It acts like any normal IRC server, so you can
 use any IRC client to connect to it.
 .
 Some of its features include support for multiple users, multiple clients,
 and multiple IRC servers; playback buffers to catch up with what happened
 while you were detached, SSL encryption, DCC proxying, and a plugin
 interface with many plugins supporting other features.
 .
 This package contains the debugging symbols of the znc package and his modules.

Package: yourbnc-znc-dev
Architecture: any
Depends: ${misc:Depends},
 yourbnc-znc (>= ${binary:Version}),
 libssl-dev
Recommends: g++
Description: advanced modular IRC bouncer (development headers)
 znc is an IRC proxy. It runs as a daemon and connects to IRC server,
 then allows you to connect from a workstation and work as the user that
 is logged in to the IRC server. After you disconnect, it maintains the
 connection to the server. It acts like any normal IRC server, so you can
 use any IRC client to connect to it.
 .
 Some of its features include support for multiple users, multiple clients,
 and multiple IRC servers; playback buffers to catch up with what happened
 while you were detached, SSL encryption, DCC proxying, and a plugin
 interface with many plugins supporting other features.
 .
 This package contains the znc development headers for developing modules.

Package: yourbnc-znc-perl
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 yourbnc-znc (= ${binary:Version})
Description: advanced modular IRC bouncer (Perl extension)
 znc is an IRC proxy. It runs as a daemon and connects to IRC server,
 then allows you to connect from a workstation and work as the user that
 is logged in to the IRC server. After you disconnect, it maintains the
 connection to the server. It acts like any normal IRC server, so you can
 use any IRC client to connect to it.
 .
 Some of its features include support for multiple users, multiple clients,
 and multiple IRC servers; playback buffers to catch up with what happened
 while you were detached, SSL encryption, DCC proxying, and a plugin
 interface with many plugins supporting other features.
 .
 This package contains the znc Perl extension.

Package: yourbnc-znc-python
Architecture: any
Depends: ${misc:Depends},
 ${shlibs:Depends},
 yourbnc-znc (= ${binary:Version})
Description: advanced modular IRC bouncer (Python extension)
 znc is an IRC proxy. It runs as a daemon and connects to IRC server,
 then allows you to connect from a workstation and work as the user that
 is logged in to the IRC server. After you disconnect, it maintains the
 connection to the server. It acts like any normal IRC server, so you can
 use any IRC client to connect to it.
 .
 Some of its features include support for multiple users, multiple clients,
 and multiple IRC servers; playback buffers to catch up with what happened
 while you were detached, SSL encryption, DCC proxying, and a plugin
 interface with many plugins supporting other features.
 .
 This package contains the znc Python extension.

Package: yourbnc-znc-tcl
Section: interpreters
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 yourbnc-znc (= ${binary:Version})
Description: advanced modular IRC bouncer (Tcl extension)
 znc is an IRC proxy. It runs as a daemon and connects to IRC server,
 then allows you to connect from a workstation and work as the user that
 is logged in to the IRC server. After you disconnect, it maintains the
 connection to the server. It acts like any normal IRC server, so you can
 use any IRC client to connect to it.
 .
 Some of its features include support for multiple users, multiple clients,
 and multiple IRC servers; playback buffers to catch up with what happened
 while you were detached, SSL encryption, DCC proxying, and a plugin
 interface with many plugins supporting other features.
 .
 This package contains the znc Tcl extension.
